<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}symfony-products{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            'bundles/app/css/reset.css'
            'bundles/app/bootstrap/css/bootstrap.min.css'
            'bundles/app/css/my.css'
            'bundles/app/css/jquery.dataTables.min.css'
            'bundles/app/css/puzzleCAPTCHA.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
    <div class="red">
        <h1>::base.html.twig</h1>

        {% block menu %}{% endblock %}
        <div class="grey">

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {{dump(app.session.flashbag.get('notice'))}}

        </div>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% javascripts
                'bundles/app/js/bootstrap.min.js'
                'bundles/app/js/jquery-1.12.4.js'
                'bundles/app/js/jquery.dataTables.min.js'
                'bundles/app/js/puzzleCAPTCHA.js'
                output='js/compiled/app.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                var imagePath = '{{ asset(img_captha) }}';

                // TableSort
                $(document).ready(function() {
                    $('#example').DataTable( {
                        "order": [[ 3, "desc" ]]
                    } );
                } );

                // CAPTCHA
                $("#PuzzleCaptcha").PuzzleCAPTCHA({
                    imageURL:imagePath,
                    rows:1,
                    targetInput:'.validationValue',
                    targetVal:'Validated!!',
                    targetButton:'.btnSubmit'
                });
            </script>
        {% endblock %}
    </div>
</body>
</html>
