{% extends 'AppBundle:Default:index.html.twig' %}

{% block body %}
    <div class="row blue">
        <div class="col-xs-12">
            <h2>Products:add.html.twig</h2>
            {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.thumbnail) }}
                    {{ form_widget(form.thumbnail, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.thumbnail) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.price) }}
                </div>

                <input type="submit" class="btn btn-default" value="Add">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
