{% extends 'AppBundle:Default:index.html.twig' %}

{% block body %}
    <div class="row blue">
        <div class="col-xs-12">
            <h2>Change:email.html.twig</h2>
            {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.email) }}
                </div>

                <input type="submit" class="btn btn-default" value="Change">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
